@import "tailwindcss";

:root {
  --grid-template: [full-start] 20px [main-start] 1fr [main-end] 20px [full-end];
}

@custom-variant hocus (&:hover, &:focus);

@font-face {
  font-family: "manrope";
  src: url(/fonts/Manrope-VariableFont_wght.ttf);
  font-weight: 500 700;
}

@theme {
  --color-white: #ffffff;
  --color-grey-900: #48556a;
  --color-grey-500: #6e8098;
  --color-grey-400: #9daec2;
  --color-grey-200: #ecf2f8;

  --font-manrope: "manrope";

  --text-preset-1: 1.25rem;
  --text-preset-1--line-height: 130%;
  --text-preset-1--letter-spacing: 0.01rem;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 0.813rem;
  --text-preset-2--line-height: 140%;
  --text-preset-2--letter-spacing: 0.12%;
  --text-preset-2--font-weight: 500;

  --text-preset-3: 0.813rem;
  --text-preset-3--line-height: 140%;
  --text-preset-3--letter-spacing: 0.12%;
  --text-preset-3--font-weight: 700;

  --text-preset-4: 0.813rem;
  --text-preset-4--line-height: 140%;
  --text-preset-4--letter-spacing: 0.25%;
  --text-preset-4--font-weight: 500;
}

@layer components {
  .share-overlay {
    @apply invisible translate-y-2 opacity-0;
    @apply transition-all duration-300 ease-in-out;
  }

  .is-active {
    @apply visible translate-y-0 opacity-100;
  }
}
